* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, SymbolsNerdFontMono, ProfontWindowsNerdFontMono,
    FiraCode, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  min-height: 20px;
  border-radius: 15px;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
  font-weight: 800;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: none;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  /* border-radius: 7px; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ccc;
}

#workspaces button.persistent {
  padding: 0 5px;
  background-color: transparent;
  color: #222;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: transparent;
  /* box-shadow: inset 0 -3px #ffffff; */
  color: #00aa00;
}

#workspaces button.urgent {
  background-color: #999999;
}

#workspaces button.active {
  color: #0000aa;
}

#workspaces,
#mode,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#privacy,
#mpd,
#cava,
#user,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-dnd,
#custom-cpubars,
#custom-audio_idle_inhibitor {
  border: 2px solid #00aaaa;
  padding: 0 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #222;
  color: #ccc;
  margin-left: 2px;
}

#window {
  margin: 0 2px 0 2px;
}

#workspaces {
  border: 2px solid #00aaaa;
  margin-top: 2px;
  margin-bottom: 2px;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > * { */
/* margin-right: 2px; */
/* } */

/* .modules-left > widget:first-child > * { */
/* margin-left: 2px; */
/* } */

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #224422;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #442222;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #442222;
}

#pulseaudio.muted {
  background-color: #223333;
}

#wireplumber.muted {
  background-color: #222233;
}

#temperature.critical {
  background-color: #442222;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* #idle_inhibitor { */
/*     background-color: #2d3436; */
/* } */

#idle_inhibitor.activated {
  background-color: #555555;
}

#scratchpad.empty {
  background-color: transparent;
}
