/* :root { */
/* } */

#nav-bar {
  background-color: #0a0a0a !important;
}

#TabsToolbar {
  display: none !important;
}

/* #navigator-toolbox, */
/* #navigator-toolbox > #nav-bar { */
/* height: 10; */
/* } */
:root {
  --tab-max-height: 24px !important;
  --tab-min-height: 0 !important;
  --urlbar-toolbar-height: var(--tab-max-height) !important;
}

#nav-bar {
  height: var(--tab-max-height);
}
